.burgerMenu {
    position: fixed;
    height: 100vh;
    overflow-y: hidden;
    right: 0;
    transform: translateX(100%);
    transition: all 0.3s;
    z-index: 4;
}
.activeBurgerMenu {
    transform: translateX(0);
    position: fixed;
    height: 100vh;
    width: 100vw;
    right: 0;
    z-index: 2;
    transition: all 0.3s;
    overflow-y: hidden;
}
.blur {
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(2px);
    position: absolute;
}

.linksList {
    width: 100%;
    height: 100%;
    background-color: #1a1e23;
    ul {
        list-style: none;
        text-align: center;
        padding: 20px;
        
    }
    li {
        padding: 10px 0;
    }
}

.burgerHeader {
    color: #fff;
    padding: 60px 10px 10px;
    text-align: center;
}
