.container {
    margin: 0;
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    background: linear-gradient(75deg, #1b9aaa, #55c1ff, #255c99,cyan)
}
.clock {
    width: 30rem;
    height: 30rem;
    border: 20px solid white;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    box-shadow:
      0 0 0 4px rgba(0,0,0,0.1),
      inset 0 0 0 3px #EFEFEF,
      inset 0 0 10px black,
      0 0 10px rgba(0,0,0,0.2);
}

.handSec {
    width: 50%;
    height: 3px;
    background: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition-timing-function: cubic-bezier(.15,1,.89,.12);
}
.handMin {
    width: 50%;
    height: 4.5px;
    background: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition-timing-function: cubic-bezier(.15,1,.89,.12);
}
.handHour {
    width: 45%;
    height: 7px;
    background: black;
    position: absolute;
    top: 51%;
    transform-origin: 105%;
    transform: rotate(90deg);
    transition-timing-function: cubic-bezier(.15,1,.89,.12);
}
.clockFace {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px); /* account for the height of the clock hands */
}

@media only screen and (max-width: 1020px) {
    .clock {
        width: 20rem;
        height: 20rem;
    }
}