.container {
    margin: 0;
    text-align: center;
    background: url('../../assets/images/coolBackground.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    color: rebeccapurple
}
.container p {
    cursor: pointer;
}
.title {
    margin-top: 0;
    padding: 30px;
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}
.projectBtn{
    cursor: pointer;
}